// Transitions
$speed: (
  'fast': 175ms,
  'medium-fast': 350ms,
  'medium': 500ms,
  'medium-slow': 850ms,
  'slow': 1000ms,
);

// Up and Down
@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}