// Sizes
$min-gaps: (
  '000': .25rem,
  '100': .375rem,
  '200': .5rem,
  '300': .625rem,
  '400': .75rem,
  '500': 1rem,
  '600': 1.25rem,
  '700': 1.5rem,
  '800': 1.75rem,
  '900': 2rem,
);

$med-gaps: (
  '000': 2.25rem,
  '100': 2.5rem,
  '200': 2.75rem,
  '300': 3rem,
  '400': 3.25rem,
  '500': 3.5rem,
  '600': 3.75rem,
  '700': 4rem,
  '800': 4.25rem,
  '900': 4.50rem,
);

$component-sizes: (
  'navigation-bar': 18.75rem
)