@use '../../styleVariables/_color' as *;
@use '../../styleVariables/_animation' as *;
@use '../../styleVariables/_spacing' as *;

// General button style
.overlay-button {
  position: absolute;
  right: 2%;
  width: map-get($med-gaps, '100');
  height: map-get($med-gaps, '100');
  border-radius: 50%;
  background-color: map-get($ui-colors, 'accent');
  border: none;
  cursor: pointer;
}

// The top hamburguer button that hides the navigation bar on the left
.menu-button {
  top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: map-get($speed, 'medium');

  // Hamburguer illustration
  span {
    display: flex;
    width: map-get($min-gaps, '600');
    height: 0.188rem;
    background-color: rgb(255, 255, 255);
    border-radius: map-get($min-gaps, '000');
    transition: all map-get($speed, 'fast') ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: map-get($min-gaps, '600');
      height: 0.188rem;
      background-color: white;
      border-radius: map-get($min-gaps, '000');
      transition: all map-get($speed, 'fast') ease-in-out;
    }

    &::before {
      transform: translateY(map-get($min-gaps, '100') - (map-get($min-gaps, '100') * 2));
    }
    &::after {
      transform: translateY(map-get($min-gaps, '100'));
    }
  }

  // Animation to make the X if it has the close class
  &.close span {
    background-color: map-get($ui-colors, 'accent');

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

// The bottom button pointing up that takes you back to the top
.back-to-top {
  bottom: 2%;
  visibility: hidden;
  opacity: 0;
  transition: map-get($speed, 'medium-fast');

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  img {
    max-width: 100%;
  }

  &:hover {
    img.moveUpDown {
      animation: moveUpDown 2000ms infinite ease-out;
    }
  }
}
